<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/fav-ico" href="/static/images/fav.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AI ile Soru Oluştur</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body class="ai-page">
    <a href="#" class="back-button" title="Geri Dön" onclick="history.back()">←</a>
    <div class="ai-container">
        <h1 class="ai-title" id="pageTitle">🤖 AI ile Quiz Oluştur</h1>

        <button id="generate-quiz-btn" class="ai-btn">Quiz Oluştur</button>

        <div class="ai-output" id="outputBox">
            {% if quiz %}
            <pre>{{ quiz }}</pre>
            {% endif %}

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/ai-script.js"></script>
</body>
</html>